/* src/components/Sidebar.css */
.sidebar {
  width: 250px;
  height: 100vh;
  position: sticky; /* Biar nempel pas di-scroll */
  top: 0;
  background-color: var(--color-primary);
  color: white;
  padding: 1.5rem;
  box-sizing: border-box; /* Biar padding gak ngerusak width */
  display: flex;
  flex-direction: column;
}
.sidebar-logo a {
  font-family: var(--font-serif);
  font-size: 2rem;
  font-weight: 700;
  color: white;
  line-height: 1;
}
.sidebar-logo span {
  font-size: 1rem;
  display: block;
}
.sidebar-logo p {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-bottom: 2rem;
}
.sidebar-menu {
  list-style: none;
  padding: 0;
  flex-grow: 1; /* Biar profile ke-push ke bawah */
}
.sidebar-menu li {
  margin-bottom: 1.2rem;
}
.sidebar-menu a {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0.9;
}
.sidebar-menu a:hover {
  opacity: 1;
  text-decoration: underline;
}